:root {
  --scissors-gradient: linear-gradient(
    to bottom,
    hsl(39, 89%, 49%),
    hsl(40, 84%, 53%)
  );
  --paper-gradient: linear-gradient(
    to bottom,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
  --rock-gradient: linear-gradient(
    to bottom,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
  --lizard-gradient: linear-gradient(
    to bottom,
    hsl(261, 73%, 60%),
    hsl(261, 72%, 63%)
  );
  --cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  --text-main: hsl(229, 25%, 31%);
  --text-second: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --bg: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --main: hsl(215, 52%, 94%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-image: var(--bg);
  font-size: 14px;
  font-weight: 600;
}

button {
  border: none;
  cursor: pointer;
}
